# Bỏ qua các file backup
*.bak

# Bỏ qua các thư mục sinh ra khi biên dịch của Quartus
db/
incremental_db/
output_files/
simulation/
greybox_tmp/

# Bỏ qua các file tạm khác
*.rpt
*.smsg
*.summary
*.jdi
*.pin
*.qws